
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$custom-colors: (
  "header": #595D61,
  "dark-grey": #2A2A2A,
  "ligth-gray":#595D61,
  "selected": #00C898,
  "ligth-mint":#CCF4EA,
  "flash-news":#00D498,
  "grey-section":#F9F9F9,
  "medium-grey":#E3E2E0,
  "arrow-success":#01D296,
  "arrow-same":#FFD601,
  "arrow-danger":#FF4F4F,
  "dark-green":#00C898,
  "table-green":#00D498,
  "table-header":#818181,
  "important":#006E4F,
  "progress-bar":#E3E2E0,
  "progress-yellow":#FFD600,
  "progress-green":#006E4F,
  "green-outline":#248E70,
  "red-outline":#B80D0D,
  "red-number":#FF4F4F,
  "green-number":#01D296,
  "arrow-black":#2A2A2A
);

$theme-colors: map-merge($theme-colors , $custom-colors );

.circle {
      width: 8px;
      height: 8px; 
      border-radius: 50%; 
      background-color: #00D498;
}

.fs-xs{
   font-size: small;
}

.fs-xss{
   font-size: x-small;
}

.fs-2xs{
   font-size: 7px;
}

.border-dashed-rigth{
 border-right: 2px dashed #E3E2E0;
}

.min-table{
 min-height: 210px;
}

@media screen and (width<300px){
   html{
      font-size: 10px
   }
}


@import "bootstrap/scss/bootstrap";
